/* General */

*{
    margin:0;
    padding:0;
}

.body{
    background-color: #f4f4f4;
    font-family: Roboto;
    transition: 0.3s ease;
}

.body--dark{
    background-color: #202020;
    font-family: Roboto;
    transition: 0.3s ease;
}

.layout{
    min-height: calc(100vh - 30px);
}

.header{
    background-color: #77f;
    color: white;
    padding: 5px;
    transition: 0.3s ease;
    display: flex;
    justify-content: space-between;
}

.header--dark{
    background-color: #f77;
    color: #eee;
    padding: 5px;
    transition: 0.3s ease;
    display:flex;
    justify-content: space-between;
}

.header__title{
    text-align: center;
}

header div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__button{
    margin: 0 5px;
    text-decoration: none;
    color: #eee;
    padding: 10px 2px
}

.main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card{
    margin: 16px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px rgba(100, 100, 100, 0.5);
    border-radius: 5px; 
    background-color: #fff;
    width: 12em;
    padding: 10px;
    transition: 0.3s ease;
}

.card--dark{
    margin: 16px;
    border: 1px solid #121212;
    box-shadow: 1px 1px 2px rgba(100, 100, 100, 0.5);
    border-radius: 5px; 
    background-color: #323232;
    width: 12em;
    padding: 10px;
    color: #eee;
    transition: 0.3s ease;
}

.card__title{
    text-align: center;
    font-size: 1em;
    margin: 0;
}

.card__text{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 1em;
}

.card__button{
    margin: 0 5px;
    padding: 4px 15px;
    background-color: #77f;
    color: #fff;
    text-decoration: none;
    border-radius: 0.2em;
    transition: 0.3s ease;
}

.card__button--dark{
    margin: 0 5px;
    padding: 4px 15px;
    background-color: #f77;
    color: #eee;
    text-decoration: none;
    border-radius: 0.2em;
    transition: 0.3s ease;
}

.footer{
    height: 30px;
}

.footer--dark{
    height: 30px;
}

.footer--dark > h6{
    font-size: 1.2em;
    text-align: center;
    color: #eee;
    transition: 0.3s ease;
}

.footer > h6{
    font-size: 1.2em;
    text-align: center;
    transition: 0.3s ease;
}

.alert__background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: #aaaaaa40;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 60vw;
    height: 80vh;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
}

.alert--dark{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 60vw;
    height: 80vh;
    background-color: #323232;
    border: #212121 solid 1px;
    border-radius: 10px;
    color: #eee;
    padding: 5px;
}

.alert__title{
    display: flex;
    padding: 0 0 0 1em;
    border-bottom: #32323250 1px solid;
    justify-content: space-between;
}

.alert__title--dark{
    display: flex;
    padding: 0 0 0 1em;
    border-bottom: #aaa5 1px solid;
    justify-content: space-between;
}

.alert__button--close{
    width: 1.5em;
    height: 1.5em;
}

.alert__button--closeDark{
    width: 1.5em;
    height: 1.5em;
    fill: #aaa;
}

.alert__body{
    position: relative;
}

.alert__table{
    padding: 20px;
}

.alert__table--dark{
    padding: 20px;
}

.alert__table__enc{
    display:flex;
    justify-content: space-evenly;
    padding: 0.2em;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.alert__table__enc__text{
    width: 15%;
}

.alert__table__product{
    display: flex;
    justify-content: space-evenly;
    padding: 0.4em;
}

.alert__table__product__text{
    width: 15%;
}

.alert__table__product__subtotal{
    width: 15%;
}

.alert__table__product__text input{
    text-align: center;
    width: 30%;
}

.alert__boton{
    padding: 2px 15px;
    text-decoration: none;
    background-color: #77f;
    color: #eee;
    cursor: pointer;
    position: absolute;
    left: 10px;
    bottom: 12px;
}