*{
    margin:0;
    padding:0;
}

.body{
    background-color: #f4f4f4;
    font-family: Roboto;
    transition: 0.3s ease;
}

.body--dark{
    background-color: #202020;
    font-family: Roboto;
    transition: 0.3s ease;
}

.layout{
    min-height: calc(100vh - 30px);
}

.header{
    background-color: #77f;
    color: white;
    padding: 5px;
    transition: 0.3s ease;
}

.header--dark{
    background-color: #f77;
    color: #eee;
    padding: 5px;
    transition: 0.3s ease;
}

.header__title{
    text-align: center;
}

.main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card{
    margin: 16px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px rgba(100, 100, 100, 0.5);
    border-radius: 5px; 
    background-color: #fff;
    width: 12em;
    padding: 10px;
    transition: 0.3s ease;
}

.card--dark{
    margin: 16px;
    border: 1px solid #121212;
    box-shadow: 1px 1px 2px rgba(100, 100, 100, 0.5);
    border-radius: 5px; 
    background-color: #323232;
    width: 12em;
    padding: 10px;
    color: #eee;
    transition: 0.3s ease;
}

.card__title{
    text-align: center;
    font-size: 1em;
    margin: 0;
}

.card__text{
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 1em;
}

.card__button{
    padding: 4px 15px;
    background-color: #77f;
    color: #fff;
    text-decoration: none;
    border-radius: 0.2em;
    transition: 0.3s ease;
}

.card__button--dark{
    padding: 4px 15px;
    background-color: #f77;
    color: #eee;
    text-decoration: none;
    border-radius: 0.2em;
    transition: 0.3s ease;
}

.footer{
    height: 30px;
}

.footer--dark{
    height: 30px;
}

.footer--dark > h6{
    font-size: 1.2em;
    text-align: center;
    color: #eee;
    transition: 0.3s ease;
}

.footer > h6{
    font-size: 1.2em;
    text-align: center;
    transition: 0.3s ease;
}
