/* General */

*{
    margin:0;
    padding:0;
}

.body{
    background-color: #f4f4f4;
    font-family: Roboto;
    transition: 0.3s ease;
}

.body--dark{
    background-color: #202020;
    font-family: Roboto;
    transition: 0.3s ease;
}

.layout{
    min-height: calc(100vh - 30px);
}

.header{
    background-color: #77f;
    color: white;
    padding: 5px;
    transition: 0.3s ease;
    display: flex;
    justify-content: space-between;
}

.header--dark{
    background-color: #f77;
    color: #eee;
    padding: 5px;
    transition: 0.3s ease;
    display:flex;
    justify-content: space-between;
}

.header__title{
    text-align: center;
}

header div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__button{
    margin: 0 5px;
    text-decoration: none;
    color: #eee;
    padding: 10px 2px
}

.main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card{
    margin: 16px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px rgba(100, 100, 100, 0.5);
    border-radius: 5px; 
    background-color: #fff;
    width: 12em;
    height: 8em;
    padding: 10px;
    transition: 0.3s ease;
}

.card--dark{
    margin: 16px;
    border: 1px solid #121212;
    box-shadow: 1px 1px 2px rgba(100, 100, 100, 0.5);
    border-radius: 5px; 
    background-color: #323232;
    width: 12em;
    height: 8em;
    padding: 10px;
    color: #eee;
    transition: 0.3s ease;
}

.contenedor__titulo{
    margin: 0 0 0 1em;
    display: flex;
    justify-content: space-between;
}

.ico__productos{
    margin: 0 0.2em;
    width: 1em;
    height: 1em;
    fill: #323232;
}

.ico__productos--dark{
    margin: 0 0.2em;
    width: 1em;
    height: 1em;
    fill: #aaa;
}

.card__title{
    text-align: center;
    font-size: 1em;
    margin: 0 0 0.6em 0;
    flex-grow: 1;
}

.card__text{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    padding-left: 1em;
}

.card__agregar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px rgba(100, 100, 100, 0.5);
    border-radius: 5px; 
    background-color: #fff;
    width: 12em;
    height: 8em;
    padding: 10px;
    transition: 0.3s ease;
}

.card__agregar--dark{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
    border: 1px solid #121212;
    box-shadow: 1px 1px 2px #64646480;
    border-radius: 5px; 
    background-color: #323232;
    color: #eee;
    width: 12em;
    height: 8em;
    padding: 10px;
    transition: 0.3s ease;
}

.card__agregar--dark:hover{
    cursor: pointer;
    background-color: #50505035;
    border: 1px solid #32323235;
    box-shadow: 1px 1px 2px #404040;
}

.card__agregar:hover{
    cursor: pointer;
    background-color: #32323235;
}

.card__agregar__icon{
    height: 2em;
    width: 2em;
    fill: #727272;
}

.card__agregar__icon--dark{
    height: 2em;
    width: 2em;
    fill: #727272;
}

.footer{
    height: 30px;
}

.footer--dark{
    height: 30px;
}

.footer--dark > h6{
    font-size: 1.2em;
    text-align: center;
    color: #eee;
    transition: 0.3s ease;
}

.footer > h6{
    font-size: 1.2em;
    text-align: center;
    transition: 0.3s ease;
}

.alert__background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: #aaaaaa40;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alerta__error{
    font-size: 0.8em;
    font-weight: 500;
    color: #f00;
}
/* Evento de producto */

.alert__producto{
    width: 20vw;
    height: 50vh;
}

.alert__producto--eliminar{
    width: 20vw;
    min-height: 10vh;
}

.alerta__producto__body{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.alerta__producto__input{
    width: 15em;
    text-align: center;
    margin: 0 0 1em 0;
}

.alerta__producto__contenedor__botones{
    margin-top: 0.4em;
}

.alerta__producto__aceptar{
    padding: 2px 15px;
    text-decoration: none;
    background-color: #77f;
    color: #eee;
    cursor: pointer;
    margin: 0.4em;
}

.alerta__producto__cancelar{
    padding: 2px 15px;
    text-decoration: none;
    background-color: #f77;
    color: #eee;
    cursor: pointer;
    margin: 0.4em;
}
/* Alerta de Comprar y vender */

.alert{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
}

.alert--dark{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    background-color: #323232;
    border: #212121 solid 1px;
    border-radius: 10px;
    color: #eee;
    padding: 5px;
}

.alert__ComprarVender{
    width: 60vw;
    height: 80vh;
}

.alert__title{
    display: flex;
    padding: 0 0 0 1em;
    border-bottom: #32323250 1px solid;
    justify-content: space-between;
}

.alert__title--dark{
    display: flex;
    padding: 0 0 0 1em;
    border-bottom: #aaa5 1px solid;
    justify-content: space-between;
}

.alert__button--close{
    width: 1.5em;
    height: 1.5em;
}

.alert__button--closeDark{
    width: 1.5em;
    height: 1.5em;
    fill: #aaa;
}

.alert__body{
    position: relative;
}

.alert__table{
    padding: 20px;
}

.alert__table--dark{
    padding: 20px;
}

.alert__table__enc{
    display:flex;
    justify-content: space-evenly;
    padding: 0.2em;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.alert__table__enc__text{
    width: 15%;
}

.alert__table__product{
    display: flex;
    justify-content: space-evenly;
    padding: 0.4em;
}

.alert__table__product__text{
    width: 15%;
}

.alert__table__product__subtotal{
    width: 15%;
}

.alert__table__product__text input{
    text-align: center;
    width: 30%;
}

.alert__boton{
    padding: 2px 15px;
    text-decoration: none;
    background-color: #77f;
    color: #eee;
    cursor: pointer;
    position: absolute;
    left: 10px;
    bottom: 12px;
}

.alert__boton--dark{
    padding: 2px 15px;
    text-decoration: none;
    background-color: #f77;
    color: #eee;
    cursor: pointer;
    position: absolute;
    left: 10px;
    bottom: 12px;
}